.ffvcontacte_control{
	opacity: 0.6
}

.ffvcontacte_control:hover{
	opacity: 1.0
}

toolbar[iconsize="small"] #ffvcontacte_control-prev
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/prev.png");}
#ffvcontacte_control-prev
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/prev.png");}
toolbar[iconsize="small"] #ffvcontacte_control-shuffle
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/shuffle.png");}
#ffvcontacte_control-shuffle
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/shuffle.png");}
toolbar[iconsize="small"] #ffvcontacte_control-repeat
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/repeat.png");}
#ffvcontacte_control-repeat
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/repeat.png");}
toolbar[iconsize="small"] #ffvcontacte_control-return
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/return.png");}
#ffvcontacte_control-return
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/return.png");}
toolbar[iconsize="small"] #ffvcontacte_control-next
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/next.png");}
#ffvcontacte_control-next
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/next.png");}
toolbar[iconsize="small"] #ffvcontacte_control-add
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/add.png");}
#ffvcontacte_control-add
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/add.png");}
toolbar[iconsize="small"] #ffvcontacte_control-play
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/play.png");}
#ffvcontacte_control-play
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/play.png");}
toolbar[iconsize="small"] #ffvcontacte_control-pause
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/16_16/pause.png");}
#ffvcontacte_control-pause
	{list-style-image: url("chrome://vk_player_control_panel/skin/icons/24_24/pause.png");}